body {
    background-color:black;
    font-family: arial;
    color: white;
}
h1 {
    color:Grey;
    font-family: verdana;
}
div {
    background-color: white;
    font-family: arial;
    color: black;
    width: 475px;
    padding: 20px;
    border-radius: 25px;
    position: fixed;
    left: 0%;
    top: 0%;

}
